<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <% if user_signed_in? %>
      <%= link_to "Gregersen Social", authenticated_user_root_path, class: 'navbar-brand' %>
    <% else %>
      <%= link_to "Gregersen Social", unauthenticated_user_root_path, class: 'navbar-brand'  %>
    <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"> <%= link_to "Edit", "#" %></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/notifications' %>
      <li><a href="<%= edit_user_path(current_user) %>"><%= current_user.email %></a></li>
      <li> <%= link_to 'Logout', destroy_user_session_path, method: 'delete'  %> </li>
    </ul>
  </div>
</nav>
