  <button class="btn btn-primary" type="button" id="friendsNotification" data-toggle="dropdown" aria-expanded="true">
  <i class="fa fa-bell">
  <% if @incoming.count > 0  %>
  <div class="true"><%= @incoming.count %></div>
  <% end %>
  </i>
	</button>
  <ul class="dropdown-menu">
  	<li> <%= link_to "View all friends", friends_index_path  %> </li>

    <% @incoming.each do |friendrequest| %>
      <li><%= friendrequest.user_id %></li>
      <% # Indsæt en linje for at hente gravatar/avatar fra friendrequest(anden parten) %>
      <%= link_to "Accept", friend_request_path(friendrequest.id), method: 'patch', remote: true %>
      <%= link_to "Decline", friend_request_path(friendrequest.id), method: 'delete', remote: true %>
    <% end %>
    <li><a href="#">JavaScript</a></li>
  </ul>
